@import '../../../styles/variables'

.explore
  display: grid
  place-items: center
  aspect-ratio: 1
  background-color: $white
  color: $black
  padding-inline: 2rem
  border-radius: 50%
  font-family: $bellefair
  text-transform: uppercase
