@import '../../../styles/breakpoints'

.nav
  display: none

  @include vTabUp
    display: block

    ul
      list-style-type: none

      li
        display: inline
        text-transform: uppercase
        font-size: 14px
        letter-spacing: 2.7px
