@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&family=Bellefair&display=swap')
@import 'breakpoints'
@import 'resets'
@import 'typography'
@import 'utilities'
@import 'variables'

main
  display: grid
  gap: 1rem
  grid-template-rows: 6rem 1.125rem 6.25rem 12.5rem 10rem
  min-height: 100vh
  text-align: center

  section
    margin: 0 1rem
    padding: 0 !important

header
  height: 96px
  width: 100%
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  padding: 16px

  @include desUp
    margin: 16px 0 0 16px
