@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&family=Bellefair&display=swap')
@import 'breakpoints'
@import 'resets'
@import 'typography'
@import 'utilities'
@import 'variables'

main
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 1rem
  min-height: 100vh
  text-align: center
