@import '../styles/_breakpoints'

.home
  background-image: url('../../public/home/background-home-mobile.jpg')
  background-size: cover

  @include vTabUp
    background-image: url('../../public/home/background-home-tablet.jpg') !important

  @include hTabUp
    background-image: url('../../public/home/background-home-desktop.jpg') !important

