@import '../../../styles/mixins'
@import '../../../styles/variables'

.nav
  display: none

  @include vTabUp
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 2.5rem
    height: 6rem
    padding-inline: 2.5rem
    background: rgba(255, 255, 255, 0.04)
    backdrop-filter: blur(40px)

  a
    @include barlowcondensed
    display: grid
    place-items: center
    box-sizing: content-box
    height: 100%
    font-size: 0.875rem
    border-bottom: solid 3px rgba($white, 0)

    &:hover
      border-bottom: solid 3px $white

    &:active
      border-bottom: solid 3px $white

